<img src="assets/images/banner/banner.png">
<header>
     <nav>
          <ul>
               <li>
                    <a [routerLink]="''" routerLinkActive="active"
                         [routerLinkActiveOptions]="{exact: true}">Chi siamo</a>
               </li>
               <li>
                    <a [routerLink]="'/eventi'" routerLinkActive="active">Eventi</a>
               </li>
               <li>
                    <a [routerLink]="'/galleria'" routerLinkActive="active">Galleria foto</a>
               </li>
          </ul>
     </nav>
</header>
