<header>
     <div class="logo-title-container">
          <img src="../../assets/logo.png" alt="logo del coro che rappresenta il sojo nel momento in cui il sole lo fa sembrare rosso" />
          <h1 class="title">A.N.A Sojo Rosso</h1>
     </div>
     <nav>
          <ul>
               <li>
                    <a>Chi siamo</a>
               </li>
               <li>
                    <a>Eventi</a>
               </li>
               <li>
                    <a>Galleria foto</a>
               </li>
               <li>
                    <a>Contatti</a>
               </li>
          </ul>
     </nav>
</header>
