<header>
     <img src="../../assets/logo.png" 
     alt="logo del coro che rappresenta il sojo nel momento in cui il sole lo fa sembrare rosso" 
     [routerLink]="''"  
     (click)="onImageClicked()"/>
     <div class="title-nav-container">
          <h1 class="title">A.N.A Sojo Rosso</h1>
          <nav>
               <ul>
                    <li>
                         <a [routerLink]="''" routerLinkActive="active"
                         [routerLinkActiveOptions]="{exact: true}">Chi siamo</a>
                    </li>
                    <li>
                         <a [routerLink]="'/eventi'" routerLinkActive="active">Eventi</a>
                    </li>
                    <li>
                         <a [routerLink]="'/galleria'" routerLinkActive="active">Galleria foto</a>
                    </li>
                    <li>
                         <a [routerLink]="'/contatti'" routerLinkActive="active">Contatti</a>
                    </li>
               </ul>
          </nav>
     </div>
</header>
