<div class="img-container">
  <img src="assets/images/banner/banner.PNG" alt="Banner">   
  <img src="assets/coro.jpeg" alt="Foto del coro con sullo sfondo le montagne" >
</div>
<div class="Composition-container" >
     <div class="left-panel">
          <div class="left-row">
               <span class="tooltip">Tipo di coro</span>
               <p class="tooltip-definition">MASCHILE</p>
          </div>
          <div class="left-row">
               <span class="tooltip">Repertorio</span>
               <p class="tooltip-definition">CANTI POPOLARI</p>
          </div>
          <div class="left-row">
               <span class="tooltip">Anno di fondazione</span>
               <p class="tooltip-definition">1992</p>
          </div>
     </div>
     <div class="separator"></div>
     <div class="right-panel">
          <div class="right-row">
               <span class="circled-number1">25</span>
               <p class="number-definition-main">Componenti</p>
          </div>
          <div class="right-row">
               <span class="circled-number2"> 8</span>
               <p class="number-definition">Tenori I</p>
          </div>
          <div class="right-row">
               <span class="circled-number3"> 5</span>
               <p class="number-definition">Tenori II</p>
          </div>
          <div class="right-row">
               <span class="circled-number4"> 6</span>
               <p class="number-definition">Baritoni</p>
          </div>
          <div class="right-row">
               <span class="circled-number5"> 6</span>
               <p class="number-definition">Bassi</p>
          </div>
     </div>
</div>
<h1 class="story-title">La nostra storia</h1>
<div class="story-container">
     <div class="story-row">
          <p class="story">Il coro Sojo Rosso nasce a Valli del Pasubio nel giugno del 1992 da un gruppo di amici appassionati della
          montagna e del canto popolare. Viene inizialmente diretto dal maestro Arturo Ronda.</p>
          <span class="story">1992</span>
     </div>
     <svg class="divider" width="122" height="169" viewBox="0 0 122 169" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M120 1C118.448 38.4967 2 84 2.00001 169" stroke="#000000" stroke-width="5"/>
     </svg>          
     <div class="story-row ">
          <span class="story"> 1994 </span>
          <p class="story align-right">Dal gennaio 1994 viene affidato alla direzione del
          maestro Elvio Bolfe. Viene Successivamente diretto dal maestro Tiberio Bicego, che con la sua esperienza e sensibilità ha
          accompagnato il coro ad ottenere lusinghieri risultati di pubblico e di interpretazione.</p>  
     </div>
     <svg class="divider2" width="122" height="169" viewBox="0 0 122 169" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M120 168C118.448 130.503 2 85 2.00001 0" stroke="#000000" stroke-width="5"/>
          </svg>
     <div class="story-row">
          <p class="story"> Dopo una breve interruzione, grazie alla volontà del corista Toniello Giuseppe, che non ha mai
          smesso di credere nel coro, nel novembre 2011 il Sojo Rosso riprende l'attività, ottenendo la generosa
          disponibilità del maestro Radames Antonio Sandri ed esibendosi in manifestazioni locali, sagre, presentazione di libri, cerimonie religiose e
          alpine.</p>
          <span class="story">2011</span>
     </div>
     <svg class="divider" width="122" height="169" viewBox="0 0 122 169" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M120 1C118.448 38.4967 2 84 2.00001 169" stroke="#000000" stroke-width="5"/>
     </svg> 
     <div class="story-row">
          <span class="story">2015</span>
          <p class="story align-right">Dal settembre 2015 entra a far parte della grande famiglia alpina come coro ANA della sezione di Vicenza.</p> 
     </div>
     <svg class="divider2" width="122" height="169" viewBox="0 0 122 169" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M120 168C118.448 130.503 2 85 2.00001 0" stroke="#000000" stroke-width="5"/>
          </svg>
     <div class="story-row">
          <p class="story">Con la rassegna "Valli canta" di novembre 2018 il coro ripercorre un periodo di riflessione, ma trova nella
          disponibilità ed energia del maestro Nicola Gobbi una nuova pagina da scrivere. Pagina che si presenta già
          da subito promettente con la partecipazione del coro, per la realizzazione dei suoni e della colonna sonora,
          al film "Bigoli Bang" realizzato in fabbrica alta a Schio.</p><span class="story">2018</span>
     </div>
</div>

<!--galleria componenti-->

     <h1 class="story-title">Il nostro coro</h1>

<div class=" body">
  <div class="container">

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="presidente">
        </div>
        <div class="text">Presidente</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="vicepresidente">
        </div>
        <div class="text">Vicepresidente</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="direttore del coro">
        </div>
        <div class="text">Direttore del coro</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="tenori I">
        </div>
        <div class="text">Tenori I</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="tenori II">
        </div>
        <div class="text">Tenori II</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="baritoni">
        </div>
        <div class="text">Baritoni</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="bassi">
        </div>
        <div class="text">Bassi</div>
      </div>
    </div>


  </div>

</div>