<img src="assets/coro.jpeg" alt="Foto del coro con sullo sfondo le montagne" >
<div class="Composition-container" >
     <div class="left-panel">
          <div class="left-row">
               <span class="tooltip">Tipo di coro</span>
               <p class="tooltip-definition">MASCHILE</p>
          </div>
          <div class="left-row">
               <span class="tooltip">Repertorio</span>
               <p class="tooltip-definition">CANTI POPOLARI</p>
          </div>
          <div class="left-row">
               <span class="tooltip">Anno di fondazione</span>
               <p class="tooltip-definition">1992</p>
          </div>
     </div>
     <div class="separator"></div>
     <div class="right-panel">
          <div class="right-row">
               <span class="circled-number1">25</span>
               <p class="number-definition-main">Componenti</p>
          </div>
          <div class="right-row">
               <span class="circled-number2"> 8</span>
               <p class="number-definition">Tenori I</p>
          </div>
          <div class="right-row">
               <span class="circled-number3"> 5</span>
               <p class="number-definition">Tenori II</p>
          </div>
          <div class="right-row">
               <span class="circled-number4"> 6</span>
               <p class="number-definition">Baritoni</p>
          </div>
          <div class="right-row">
               <span class="circled-number5"> 6</span>
               <p class="number-definition">Bassi</p>
          </div>
     </div>
</div>

<h1 class="story-title">La nostra storia</h1>

<div class="timeline">
  <div class="timeline__component"> 
    <div class="timeline__date--right">1992</div>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component--left timeline__component--bg">
    <p class="timeline__paragraph">
      Il coro Sojo Rosso nasce a Valli del Pasubio nel giugno del 1992 da un gruppo di amici appassionati della montagna e del canto popolare. Viene inizialmente diretto dal maestro Arturo Ronda.
    </p>
  </div>

  <div class="timeline__component--right timeline__component--bg">
    <p class="timeline__paragraph">
      Dal gennaio 1994 viene affidato alla direzione del
          maestro Elvio Bolfe. Viene Successivamente diretto dal maestro Tiberio Bicego, che con la sua esperienza e sensibilità ha
          accompagnato il coro ad ottenere lusinghieri risultati di pubblico e di interpretazione.
    </p>
  
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component">
    <div class="timeline__date--left">1994</div>
  </div>
  <div class="timeline__component">
    <div class="timeline__date--right">2011</div>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component--left timeline__component--bg">
  
    <p class="timeline__paragraph">
      Dopo una breve interruzione, grazie alla volontà del corista Toniello Giuseppe, che non ha mai
          smesso di credere nel coro, nel novembre 2011 il Sojo Rosso riprende l'attività, ottenendo la generosa
          disponibilità del maestro Radames Antonio Sandri ed esibendosi in manifestazioni locali, sagre, presentazione di libri, cerimonie religiose e
          alpine.
    </p>
  </div>
  <div class="timeline__component--right timeline__component--bg">
   
    <p class="timeline__paragraph">
      Dal settembre 2015 entra a far parte della grande famiglia alpina come coro ANA della sezione di Vicenza.
    Con la rassegna "Valli canta" di novembre 2018 il coro ripercorre un periodo di riflessione, ma trova nella
    disponibilità ed energia del maestro Nicola Gobbi una nuova pagina da scrivere. Pagina che si presenta già
    da subito promettente con la partecipazione del coro, per la realizzazione dei suoni e della colonna sonora,
    al film "Bigoli Bang" realizzato in fabbrica alta a Schio.</p>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
    <div class="timeline__point timeline__point--bottom"></div>
  </div>
  <div class="timeline__component timeline__component--bottom">
    <div class="timeline__date--left">2015</div>
  </div>
</div>

<!--galleria componenti-->

     <h1 class="story-title">Il nostro coro</h1>

<div class=" body">
  <div class="container">

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="presidente">
        </div>
        <div class="text">Direttivo</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="Direttore del coro">
        </div>
        <div class="text">Direttore del coro</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="tenori I">
        </div>
        <div class="text">Tenori I</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="tenori II">
        </div>
        <div class="text">Tenori II</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="baritoni">
        </div>
        <div class="text">Baritoni</div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/images/fotocomponenti/profilo.jpg" alt="bassi">
        </div>
        <div class="text">Bassi</div>
      </div>
    </div>


  </div>

</div>