@import "../../styles/variables";
.facebook{
  color: #0863F7;
  font-size: 1.3em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  border: 2px solid #0863F7; 
  border-radius: 50%;
  text-align: center;
}
   .story-container{
     display:flex;
     flex-direction: column;
     width: 100%;
     align-items: right;
     margin-top: 10px;
     background-color: white ;
     border-top: 2px solid #8A0709;
     
   }
   .story-row{
     display:flex;
     justify-content: flex-start;
     gap: 1em;
     align-items: right;
     margin-bottom: 15px;
     margin-top: 10px;
     margin-left: 40px;
 }
 .tooltip{
     font-family: $font-content;
     font-weight:350;
     font-size: 1.2rem;
}

.tooltip-definition{
  align-self: center;
     font-family: $font-content;
     font-weight: 350;
     font-size: 1.2rem;
}


.story-title{
  display: flex;
  flex:1;
  justify-content: center;
  margin-top: 10px;
  font-family: $font-title;
  font-weight: 500;
  font-size: 2rem;
  color: #8A0709 ;
}

a{
  align-self: center;
  text-decoration: none;
  color:#8A0709;
  font-family: $font-content;
}
.wrap{
  overflow: hidden;
  text-wrap: wrap;
}

@media screen and (max-width:500px) {
  .story-row{
    gap: 0.5em;
}
}