
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<!--
<div class="social-links">
  <div class="row">
    <div class="small-6 medium-3 columns text-center mobile-stack">
      <a href="https://www.facebook.com/CoroSojoRossoValliDelPasubioVicenza/?locale=it_IT"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
    </div>
  </div>
</div>
-->

<!--nuovo-->

<div class="story-container">

    <h1 class="story-title">Contatti</h1>

     <div class="story-row">
          <span class="tooltip-definition">Email:</span>
          <p class="tooltip"><a href="mailto:coroanasojorosso@gmail.com">coroanasojorosso@gmail.com</a></p>
          
      </div>

      <div class="story-row">
          <span class="tooltip-definition">Seguici su:</span>
                   <a href="https://www.facebook.com/CoroSojoRossoValliDelPasubioVicenza/?locale=it_IT"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
      </div>

     <div class="story-row">
          <span class="tooltip-definition">Telefono:</span>
          <p class="tooltip"><a>+39 3277328558</a></p>
     </div>

     
      <div class="story-row">
        <span class="tooltip-definition wrap">Ci trovi ogni mercoledì in via dnvhf, 14 - Valli del Pasubio (VI)</span> 
      </div>


             