 @import "../../styles/variables";
.footer {
  background-color: #999999 ;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  font-family: Arial, sans-serif;

  .footer-content {
    max-width: 800px;
    margin: auto;

    h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: #8A0709;
    }

    .contact-info {
      margin-bottom: 1.5rem;
      p {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0.3rem 0;

        a {
          color: #8A0709;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .social-links {
      display: flex;
      justify-content: center;
      gap: 1.2rem;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;

      a {
        color:#8A0709;
        transition: color 0.3s;

        &:hover {
          color: #fff;
        }
      }
    }

    .copyright {
      font-size: 0.9rem;
      color: #444444;
      margin-top: 1.5rem;
    }
  }
}