@import "../../styles/variables";
.social-links {
     background:none;
   }
   
   .social-links a {
     color: #1d92cf;
     font-family: $font-content;
     font-weight: 300;
     font-size: 1.3rem
   }
   
   .social-links i.fa {
     font-size: 1.4rem;
     padding-right: 0.8rem;
     padding-bottom: 1rem;
   }
   
   @media screen and (max-width: 39.9375em) {
     .social-links {
       padding: 2rem 0;
     }
     .social-links i.fa {
       font-size: 2rem;
       display: block;
       padding-right: 0;
       padding-bottom: 0.5rem;
     }
     .social-links a {
       font-weight: bold;
     }
     .social-links .columns {
       margin: 1rem 0;
     }
     .social-links .mobile-stack {
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-flex-direction: column;
           -ms-flex-direction: column;
               flex-direction: column;
     }
   }






   .story-container{
     display:flex;
     flex-direction: column;
     width: 100%;
     align-items: center;
     margin-top: 50px;
     background-color: #F5F5F5 ;
     
   }
   .story-row{
     display:flex;
     width:70%;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
     margin-top: 20px;
 }
 .tooltip{
     font-family: $font-content;
     font-weight: 300;
     font-size: 1.3rem;
}

.tooltip-definition{
     font-family: $font-content;
     font-weight: 700;
     font-size: 1.7rem;
}


.story-title{
  display: flex;
  flex:1;
  justify-content: center;
  margin-top: 30px;
  font-family: $font-title;
  font-weight: 700;
  font-size: 3rem;
  color: #8A0709 ;
}


