
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

              <footer class="footer">
                <div class="footer-content">
                  <h2>Contatti</h2>
                  
                  <div class="contact-info">
                    <p><strong>Indirizzo: </strong> Ci trovi ogni mercoledì in via dnvhf, 14 - Valli del Pasubio (VI)</p>
                    <p><strong>Email: </strong> <a href="mailto:coroanasojorosso@gmail.com">coroanasojorosso&#64;gmail.com</a></p>
                    <p><strong>Telefono: </strong> <a href="tel:+393277328558">+39 3277328558</a></p>
             
                  </div>
              
                  <div class="social-links">
                    <p>Seguici su:</p>
                    <a href="https://www.facebook.com/CoroSojoRossoValliDelPasubioVicenza/?locale=it_IT" target="_blank" aria-label="Facebook">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <!-- Aggiungi altri social se necessario -->
                  </div>
                  
                  <p class="copyright">© {{currentYear}} Coro Sojo Rosso - Tutti i diritti riservati.</p>
                </div>
              </footer>