<div class="wrapper">
<div class="loginForm">
     <h3 class="loginTitle">Login Amministratore</h3>
     <div class="formElem" id="first">
          <label for="email">Email: </label>
          <input id="email" type="text"
               [(ngModel)]="email"
               email
          >
     </div>
     <div class="formElem" id="second">
          <label for="password">Password: </label>
          <input id="password" 
               [type]="isPasswordVisible ? 'text':'password'"
               [(ngModel)]="password">
          <i class="ph ph-eye showHide" 
               *ngIf="!isPasswordVisible" 
               (click)="isPasswordVisible=!isPasswordVisible"></i>
          <i class="ph ph-eye-slash showHide" 
               *ngIf="isPasswordVisible" 
               (click)="isPasswordVisible=!isPasswordVisible"></i>
     </div> 
     <button class="submitButton" type="button" 
          (click)="onSubmitClicked()">Accedi</button> 
</div>
</div>