@import "../../styles/variables";

.tooltip{
     font-family: $font-content;
     font-weight: 300;
}

.story-title{
     font-family: $font-content;
     font-weight: 700;
}
.story-main{
     font-family: $font-content;
     font-weight: 500;
}