@import "../../styles/variables";

img{
     width: 100%;
}

.Composition-container{
     display: flex;
     flex-direction: row;
     width:100%;
     height: 450px;
     justify-content: center;
     align-items: center;
     margin-top: 30px;
     gap: 100px;
}

.left-panel{
     display: flex;
     flex-direction: column;
     align-self: stretch;
     justify-content: center;
     align-items: center;
}

.left-row{
     display: flex;
     width: 100%;
     flex-grow: 1;
     flex-direction: column;
     justify-content: center;
     align-items: flex-end;
}
.tooltip{
     font-family: $font-content;
     font-weight: 300;
     font-size: 1.3rem;
}
.tooltip-definition{
     font-family: $font-content;
     font-weight: 700;
     font-size: 1.7rem;
}

.separator{
     display: flex;
     flex-direction: column;
     align-self: stretch;
     border:1px solid white;
     border-radius: 5px;
     width: 8px;
     background-image: $lg-about;
}

.right-panel{
     display: flex;
     flex-direction: column;
     align-self: stretch;
     justify-content: center;
     align-items: flex-start;
     gap:20px;
}
.right-row{
     display: flex;
     width: 100%;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     gap:20px;
}

.circled-number1{
     font-family: $font-content;
     font-weight: 700;
     font-size: 2rem;
     width: 70px;
     height: 70px;
     line-height: 70px;
     border: 6px solid #8A0709     ; 
     border-radius: 70%;
     text-align: center;
     margin-left: -10px;
}

.circled-number2{
     font-family: $font-content;
     font-weight: 500;
     font-size: 1.7rem;
     width: 50px;
     height: 50px;
     line-height: 50px;
     border: 4px solid #B12E30; 
     border-radius: 50%;
     text-align: center;
}

.circled-number3{
     font-family: $font-content;
     font-weight: 500;
     font-size: 1.7rem;
     width: 50px;
     height: 50px;
     line-height: 50px;
     border: 4px solid #C44042; 
     border-radius: 50%;
     text-align: center;
}

.circled-number4{
     font-family: $font-content;
     font-weight: 500;
     font-size: 1.7rem;
     width: 50px;
     height: 50px;
     line-height: 50px;
     border: 4px solid #D75355; 
     border-radius: 50%;
     text-align: center;
}

.circled-number5{
     font-family: $font-content;
     font-weight: 500;
     font-size: 1.7rem;
     width: 50px;
     height: 50px;
     line-height: 50px;
     border: 4px solid #f87476; 
     border-radius: 50%;
     text-align: center;
}

.number-definition{
     font-family: $font-content;
     font-weight: 500;
     font-size: 1.3rem;
     margin-left: 12px;
}

.number-definition-main{
     font-family: $font-content;
     font-weight: 700;
     font-size: 1.7rem;
}

//STORY__________________________________________________________________________
.story-title{
     display: flex;
     flex:1;
     justify-content: center;
     margin-top: 30px;
     font-family: $font-title;
     font-weight: 700;
     font-size: 3rem;
     color: #8A0709 ;
}
.story-container{
     display:flex;
     flex-direction: column;
     width: 100%;
     align-items: center;
     margin-top: 50px;
     background-color: #F5F5F5 ;
}
.story-row{
     display: flex;
     width:70%;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
     margin-top: 20px;
     
}
span.story{
     margin-left: 30px;
     font-family: $font-title;
     font-weight: 700;
     font-size: 2.3rem;
     background-color: #FEDD72;
     color: #8A0709;
     width: 95px;
     height: 95px;
     line-height: 95px;
     border: 4px solid #8A0709; 
     border-radius: 50%;
     text-align: center;
}
p.story{
     width:70%;
     font-family: $font-content;
     font-size: 1.5em;
     font-weight: 500;
     background-color: white;
     border: 4px solid #8A0709;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 10px;
}

.align-right{
     text-align: right;
}



