<div class="img-container">
     <img src="" alt="Foto del coro con sullo sfondo le montagne" >
</div>
<div class="Composition-container" >
     <div class="left-panel">
          <div class="left-row">
               <span class="tooltip">Tipo di coro</span>
               <p class="tooltip-definition">MASCHILE</p>
          </div>
          <div class="left-row">
               <span class="tooltip">Repertorio</span>
               <p class="tooltip-definition">CANTI POPOLARI</p>
          </div>
          <div class="left-row">
               <span class="tooltip">Anno di fondazione</span>
               <p class="tooltip-definition">1992</p>
          </div>
     </div>
     <div class="right-panel">
          <div class="right-row">
               <span class="circled-number">25</span>
               <p class="number-definition">Componenti</p>
          </div>
          <div class="right-row">
               <span class="circled-number">8</span>
               <p class="number-definition">Soprani</p>
          </div>
          <div class="right-row">
               <span class="circled-number">5</span>
               <p class="number-definition">Contralti</p>
          </div>
          <div class="right-row">
               <span class="circled-number">6</span>
               <p class="number-definition">Tenori</p>
          </div>
          <div class="right-row">
               <span class="circled-number">6</span>
               <p class="number-definition">Bassi</p>
          </div>
     </div>
</div>
<div class="story-container">
     <h1 class="story-title">La nostra storia</h1>
     <p class="story-main">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius erat nec consequat mollis. Praesent venenatis elementum arcu eget tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent suscipit viverra odio at vehicula. Sed vulputate velit dui, id placerat erat pharetra eget. Nulla nulla enim, bibendum sed consectetur sed, tempor nec velit. Proin vitae diam in augue pulvinar sodales at a libero. Maecenas imperdiet velit ipsum, quis pretium dui imperdiet a.

Sed gravida ac massa vel lacinia. Donec quis egestas velit. Sed iaculis mattis risus, ut lacinia diam feugiat id. Morbi ut commodo urna. Morbi efficitur ornare suscipit. Quisque egestas non mauris vel posuere. Phasellus facilisis nunc vitae euismod feugiat. Etiam eu urna malesuada, varius felis hendrerit, semper turpis. In ut diam a nibh tempor dictum quis ac libero. Morbi pellentesque libero ut enim sagittis blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam vitae nulla condimentum, pulvinar mauris vitae, porttitor lectus. Praesent a urna sed mauris consectetur maximus. Curabitur tortor tellus, iaculis nec ultricies vulputate, ultricies a ligula. Pellentesque faucibus vulputate augue nec varius. Vivamus eget velit sed dui pharetra egestas.

Sed rhoncus sit amet lacus vitae pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas leo felis, varius at scelerisque nec, maximus id nulla. Aenean magna felis, faucibus tincidunt justo vitae, porttitor consectetur turpis. Nunc ut urna odio. Vivamus a condimentum velit. Sed rhoncus commodo magna, pellentesque tristique ipsum consequat vitae. Pellentesque non egestas odio. In iaculis vel arcu non lacinia. Aliquam faucibus augue in dolor molestie feugiat. Fusce efficitur, dolor in condimentum laoreet, diam justo ultricies diam, nec ullamcorper augue ante a massa. Nam lacus nibh, placerat sodales ex quis, porta condimentum magna. Suspendisse dui leo, varius non porttitor non, accumsan eu ex. Curabitur ut sagittis erat.

Pellentesque feugiat viverra arcu, nec tempus nisl maximus id. Morbi congue sit amet lorem in imperdiet. Duis cursus id purus sit amet viverra. Proin facilisis sapien elit, in venenatis sapien blandit at. Proin eget fermentum nulla. Donec feugiat dui quis nisl suscipit pulvinar. Aliquam ornare maximus risus, quis efficitur neque mattis et. Nam velit sapien, accumsan sollicitudin urna id, porta varius justo. Nam purus nulla, tristique at semper vel, pellentesque at mi. Proin euismod condimentum arcu, a ullamcorper tellus. Donec consequat lacus magna, non commodo magna bibendum at. Proin suscipit, tortor nec euismod tempus, metus ligula.
     </p>
</div>

