<div style="flex-direction: row;width:100%;height: 100%; justify-content: space-evenly; align-items:center ">
    <h1 class="story-title">Eventi</h1>

    <div class="container">

        <div class="item-container">
            <div class="img-container">
                <img src="../../assets/images/eventi/evento_pelligrinaggio_monte_pasubio.JPG" alt="Pelligrinaggio annuale monte Pasubio">
            </div>
    
            <div class="body-container">
                <div class="overlay"></div>
    
                <div class="event-info">
                    <p class="title">Pelligrinaggio annuale monte Pasubio</p>
                    <div class="separator"></div>
                    <p class="info">Valli del Pasubio</p>
                    <p class="price">31 agosto - 1 Settembre 2024</p>
    
                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Ossario
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Domenica 1 Settembre 2024 - ore 11:00
                        </p>
    
                        <p class="info description">
                         
                         <span>Ingresso libero</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="../../assets/images/eventi/evento_sagra_santantonio.jpg" alt="Sagra di S.Antonio del Pasubio">
            </div>
    
            <div class="body-container">
                <div class="overlay"></div>
    
                <div class="event-info">
                    <p class="title">Sagra S.Antonio del Pasubio</p>
                    <div class="separator"></div>
                    <p class="info">S.Antonio del Pasubio</p>
                    <p class="price">14 Luglio 2024</p>
    
                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Chiesa S.Antonio del Pasubio
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Domenica 14 Luglio 2024 - ore 09:30
                        </p>
    
                        <p class="info description">
                         
                         <span>Ingresso libero</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="../../assets/images/eventi/evento_sagra_sanpietro.jpg" alt="Sagra di San Pietro - Val d'Astico">
            </div>
    
            <div class="body-container">
                <div class="overlay"></div>
    
                <div class="event-info">
                    <p class="title">Sagra di San Pietro - Val d'Astico</p>
                    <div class="separator"></div>
                    <p class="info">Valdastico</p>
                    <p class="price">27 Giugno 2024</p>
    
                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Casetta ProLoco Val d'Astico
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Giovedì 27 Giugno 2024 - ore 20:30
                        </p>
    
                        <p class="info description">
                         
                         <span>Ingresso libero</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="../../assets/images/eventi/evento_armonie_destate.jpg" alt="evento Armonie d'estate">
            </div>
    
            <div class="body-container">
                <div class="overlay"></div>
    
                <div class="event-info">
                    <p class="title">Armonie d'estate</p>
                    <div class="separator"></div>
                    <p class="info">Valli del Pasubio</p>
                    <p class="price">08 Giugno 2024</p>
    
                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Chiesa Arcipretale S.Maria - Valli del Pasubio
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sabato 08 Giugno 2024 - ore 20:30
                        </p>
    
                        <p class="info description">
                         
                         <span>Ingresso libero</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="item-container">
        <div class="img-container">
            <img src="../../assets/images/eventi/eventi_adunata2.jpg" alt="evento Adunata 2024">
        </div>

        <div class="body-container">
            <div class="overlay"></div>

            <div class="event-info">
                <p class="title">95° Adunata nazionale degli alpini</p>
                <div class="separator"></div>
                <p class="info">Vicenza</p>
                <p class="price">11 Maggio 2024</p>

                <div class="additional-info">
                    <p class="info">
                        <i class="fas fa-map-marker-alt"></i>
                        Chiesa SS. Felice e Fortunato - Corso San Felice 219 - Vicenza
                    </p>
                    <p class="info">
                        <i class="far fa-calendar-alt"></i>
                        Sabato 11 Maggio 2024 - ore 21:00
                    </p>

                    <p class="info description">
                     
                     <span>Ingresso libero</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="item-container">
        <div class="img-container">
            <img src="../../assets/images/eventi/eventi_adunata.jpg" alt="evento aspettando l'adunata">
        </div>

        <div class="body-container">
            <div class="overlay"></div>

            <div class="event-info">
                <p class="title">Aspettando la 95° Adunata nazionale degli alpini</p>
                <div class="separator"></div>
                <p class="info">Valli del Pasubio</p>
                <p class="price">10 Maggio 2024</p>

                <div class="additional-info">
                    <p class="info">
                        <i class="fas fa-map-marker-alt"></i>
                        Chiesa Arcipretale - Valli del Pasubio
                    </p>
                    <p class="info">
                        <i class="far fa-calendar-alt"></i>
                        Venerdì 10 Maggio 2024 - ore 20:30
                    </p>

                    <p class="info description">
                    
                     <span>Ingresso libero</span>
                    </p>
                </div>
            </div>
        </div>
    </div>


        <div class="item-container">
            <div class="img-container">
                <img src="../../assets/images/eventi/evento_preadunata.jpg" alt="31 rassegna cori alpini">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">31° Rassegna cori alpini... aspettando l'adunata</p>
                    <div class="separator"></div>
                    <p class="info">Bassano del Grappa</p>
                    <p class="price">04 Maggio 2024</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Chiesa S.Mara in Colle - Bassano del Grappa
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sabato 04 Maggio 2024 - ore 20:45
                        </p>

                        <p class="info description">
                           
                         <span>Ingresso libero</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="../../assets/images/eventi/evento_35rassegna.jpg" alt="35 Rassegna corale">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">35° Rassegna Corale</p>
                    <div class="separator"></div>
                    <p class="info">Valli del Pasubio</p>
                    <p class="price">11 Novembre 2023</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Chiesa Arcipretale - Valli del Pasubio
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sabato 11 Novembre 2023 - ore 20:30
                        </p>

                        <p class="info description">
                            
                            <span>Ingresso libero</span>
                           </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="../../assets/images/eventi/evento_incanto.jpg" alt="evento InCanto">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Valli "InCanto"</p>
                    <div class="separator"></div>
                    <p class="info">Valli del Pasubio</p>
                    <p class="price">24 Giugno 2023</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Chiesa Arcipretale - Valli del Pasubio
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sabato 24 Giugno 2023 - ore 20:00
                        </p>

                        <p class="info description">
                         Partecipano Coro A.N.A. Sojo Rosso, Coro Voci Valleogrine e Coro Har-Ber High School
                         <span>Ingresso libero</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="../../assets/images/eventi/evento_34rassegna.PNG" alt="evento 34 rassegna">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">34° Rassegna corale</p>
                    <div class="separator"></div>
                    <p class="info">Valli del Pasubio</p>
                    <p class="price">05 Novembre 2022</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Chiesa Arcipretale - Valli del Pasubio
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sabato 05 Novembre 2022 - ore 20:30
                        </p>

                        <p class="info description">
                         <span>Ingresso libero</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="../../assets/images/eventi/evento_33rassegna.jpg" alt="33 Rassegna corale">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">33° Rassegna Corale</p>
                    <div class="separator"></div>
                    <p class="info">Valli del Pasubio</p>
                    <p class="price">13 Novembre 2021</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Chiesa Arcipretale - Valli del Pasubio
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sabato 13 Novembre 2021 - ore 20:30
                        </p>
                        
                        <p class="info description">
                           
                            <span>Ingresso libero</span>
                        </p>
                    </div>
                </div>
               <!-- <button class="action">Book it</button> -->
            </div>
        </div>
    </div>